<div id="add-friend-container" class="auth-container">
  <div class="auth-box">
    <form id="add-friend-form" class="auth-form">
      <a href="#" id="close-add-friend-form" class="close-button">
        <i class="nf nf-md-close_circle_outline"></i>
      </a>
      <div class="auth-header">
        <h1>Add Friend</h1>
        <p>Please enter your friend's user ID</p>
      </div>
      
      <div class="form-group">
        <label for="friend-id">Friend ID</label>
        <input
          type="text"
          id="friend-id"
          name="friendId"
          class="auth-input"
          placeholder="Please enter your friend's ID"
          required
        />
      </div>
      <button type="submit" class="auth-button">Send</button>
    </form>
  </div>
</div>